In [58]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import load_boston # —Ç–µ—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ
from sklearn.model_selection import train_test_split # —Ä–∞–∑–±–∏–≤–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä—ç–π–º—ã
from sklearn.linear_model import LinearRegression # —Å—Ç—Ä–æ–∏—Ç–º –º–æ–¥–µ–ª—å —Ä–µ–≥—Ä–µ—Å—Å–∏–∏
from sklearn.metrics import mean_squared_error # —Å—Ä–µ–¥–Ω—è—è –∫–≤–∞–¥—Ä–∞—Ç–∏—á–µ—Å–∫–∞—è –æ—à–∏–±–∫–∞
from sklearn.metrics import r2_score # –ø—Ä–∏–º–µ–Ω—è–µ–º –Ω–∞ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è—Ö
from sklearn.metrics import roc_auc_score # –¥–ª—è –≤—ã—á–∏—Å–ª–µ–Ω–∏—è AUC –Ω–∞ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö

## –ó–ê–î–ê–ù–ò–ï 1

In [2]:
boston = load_boston()

In [3]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
data = boston['data']
target = boston['target']
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [6]:
X.shape

(506, 13)

In [7]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
y = pd.DataFrame(target, columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.0 KB

In [9]:
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

–†–∞–∑–±–µ–π—Ç–µ —ç—Ç–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—ã–µ (X_train, y_train) –∏ —Ç–µ—Å—Ç–æ–≤—ã–µ (X_test, y_test) —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ train_test_split —Ç–∞–∫, —á—Ç–æ–±—ã —Ä–∞–∑–º–µ—Ä —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏ —Å–æ—Å—Ç–∞–≤–ª—è–ª 30% –æ—Ç –≤—Å–µ—Ö –¥–∞–Ω–Ω—ã—Ö, –ø—Ä–∏ —ç—Ç–æ–º –∞—Ä–≥—É–º–µ–Ω—Ç random_state –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å —Ä–∞–≤–µ–Ω 42. –°–æ–∑–¥–∞–π—Ç–µ –º–æ–¥–µ–ª—å –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –ø–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏–µ–º lr —Å –ø–æ–º–æ—â—å—é –∫–ª–∞—Å—Å–∞ LinearRegression –∏–∑ –º–æ–¥—É–ª—è sklearn.linear_model. –û–±—É—á–∏—Ç–µ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö (–∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ –≤—Å–µ –ø—Ä–∏–∑–Ω–∞–∫–∏) –∏ —Å–¥–µ–ª–∞–π—Ç–µ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –Ω–∞ —Ç–µ—Å—Ç–æ–≤—ã—Ö. –í—ã—á–∏—Å–ª–∏—Ç–µ R2 –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –ø—Ä–µ–¥–∫–∞–∑–∞–Ω–∏–π —Å –ø–æ–º–æ—â—å—é r2_score –∏–∑ –º–æ–¥—É–ª—è sklearn.metrics.

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

–ú–æ–¥–µ–ª—å –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –ø–æ –æ–±—ä–µ–∫—Ç—É  ùë•=(ùë•1,‚Ä¶,ùë•ùëõ)  –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π, –∏—Å–ø–æ–ª—å–∑—É—è –ª–∏–Ω–µ–π–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é

ùëì(ùë•)=ùë§0+ùë§1‚ãÖùë•1+‚ãØ+ùë§ùëõ‚ãÖùë•ùëõ.
 
–ó–∞–¥–∞—á–∞ —Ç–∞–∫–æ–π –º–æ–¥–µ–ª–∏ - –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ –æ–±—É—á–µ–Ω–∏—è –ø–æ–¥–æ–±—Ä–∞—Ç—å —ç—Ç–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã  ùë§ùëñ  —Ç–∞–∫, —á—Ç–æ–±—ã –∑–Ω–∞—á–µ–Ω–∏–µ —ç—Ç–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –±—ã–ª–æ –∫–∞–∫ –º–æ–∂–Ω–æ –±–æ–ª–µ–µ –±–ª–∏–∑–∫–æ –∫ —Ä–µ–∞–ª—å–Ω–æ–º—É —Ü–µ–ª–µ–≤–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é  ùë¶  –æ–±—ä–µ–∫—Ç–∞  ùë• .

–ò—Ç–∞–∫, —á—Ç–æ–±—ã –æ–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å, –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç–æ–¥ .fit, –≤ –∫–æ—Ç–æ—Ä—ã–π –ø–µ—Ä–µ–¥–∞—ë–º –Ω–∞—à—É —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é –≤—ã–±–æ—Ä–∫—É:

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [12]:
lr.intercept_

array([31.63108404])

In [13]:
lr.coef_

array([[-1.33470103e-01,  3.58089136e-02,  4.95226452e-02,
         3.11983512e+00, -1.54170609e+01,  4.05719923e+00,
        -1.08208352e-02, -1.38599824e+00,  2.42727340e-01,
        -8.70223437e-03, -9.10685208e-01,  1.17941159e-02,
        -5.47113313e-01]])

In [14]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [15]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

–ú–ï–¢–†–ò–ö–ò
–°—Ä–µ–¥–Ω—è—è –∫–≤–∞–¥—Ä–∞—Ç–∏—á–µ—Å–∫–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ mean squared error, —Å–æ–∫—Ä–∞—â—ë–Ω–Ω–æ mse. –û–Ω–∞ –≤—ã—á–∏—Å–ª—è–µ—Ç—Å—è –∫–∞–∫ —Å—Ä–µ–¥–Ω–µ–µ –æ—Ç –∫–≤–∞–¥—Ä–∞—Ç–æ–≤ –æ—à–∏–±–æ–∫ –Ω–∞ –∫–∞–∂–¥–æ–º –∏–∑ –æ–±—ä–µ–∫—Ç–æ–≤

In [16]:
mean_squared_error(check_test["y_pred"], check_test["y_test"])

21.51744423117739

In [17]:
r2_score(y_test, y_pred)

0.7112260057484908

## –ó–ê–î–ê–ù–ò–ï 2

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [19]:
model = RandomForestRegressor(max_depth=12, random_state=42, n_estimators=1000)

In [20]:
model.fit(X_train,  y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [21]:
y_pred = model.predict(X_test)

In [22]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
173    23.6  22.846138 -0.753862
274    32.4  31.156114 -1.243886
491    13.6  16.297226  2.697226
72     22.8  23.821036  1.021036
452    16.1  17.212148  1.112148

–ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–≥–æ –∑–∞–¥–∞–Ω–∏—è
y_test   y_pred     error
23.6	28.648960	5.048960
32.4	36.495014	4.095014
13.6	15.411193	1.811193
22.8	25.403213	2.603213
16.1	18.855280	2.755280

In [23]:
r2_score(y_test, y_pred)

0.8749965273218174

r2 –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–≥–æ –∑–∞–¥–∞–Ω–∏—è 0.7112260057484908

–ò—Å—Ö–æ–¥—è –∏–∑ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –º–æ–¥–µ–ª—å RandomForestRegressor –±–æ–ª–µ–µ —Ç–æ—á–Ω–æ –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ

## –ó–ê–î–ê–ù–ò–ï 3

In [94]:
RandomForestRegressor?

–∏–∑—É—á–∞–µ–º –∞—Ç—Ä–∏–±—É—Ç feature_importances

In [24]:
print(model.feature_importances_)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]

In [25]:
sum(model.feature_importances_)

0.9999999999999999

–ù–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ –∞—Ç—Ä–∏–±—É—Ç—ã: 
—Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç RM 0.4156789214509943;
–ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º LSTAT 0.402704591696731

## –ó–ê–î–ê–ù–ò–ï 4

In [26]:
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

pd.options.display.max_columns = 100
%matplotlib inline

In [27]:
df = pd.read_csv("creditcard.csv")

In [28]:
df.shape

(284807, 31)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [30]:
 df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,0.359894,-0.358091,-0.137134,0.517617,0.401726,-0.058133,0.068653,-0.033194,0.084968,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,-1.416907,-0.153826,-0.751063,0.167372,0.050144,-0.443587,0.002821,-0.611987,-0.045575,-0.219633,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,0.291474,1.757964,-1.323865,0.686133,-0.076127,-1.222127,-0.358222,0.324505,-0.156742,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,-0.110452,-0.286254,0.074355,-0.328783,-0.210077,-0.499768,0.118765,0.570328,0.052736,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,1.017614,0.836390,1.006844,-0.443523,0.150219,0.739453,-0.540980,0.476677,0.451773,0.203711,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

In [31]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [32]:
y = pd.Series(df['Class'])
X = df.drop(columns=['Class'])

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [34]:
X_train.shape

(199364, 30)

In [35]:
X_test.shape

(85443, 30)

In [36]:
y_train.head()

222925    0
163811    0
196038    0
25173     0
253792    0
Name: Class, dtype: int64

In [51]:
y_test.head()

262922    0
123418    0
206135    0
273483    0
245758    0
Name: Class, dtype: int64

In [38]:
parameters = [{'n_estimators': [10, 15], 
               'max_features': np.arange(3, 5),
               'max_depth': np.arange(4, 7)}]
model = GridSearchCV(estimator=RandomForestClassifier(random_state=100), param_grid=parameters, scoring='roc_auc', cv=3)

In [41]:
model.fit(X_train,  y_train)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [42]:
model.best_params_

{'max_depth': 6, 'max_features': 3, 'n_estimators': 15}

In [71]:
result = model.predict_proba(X_test)
result.shape

(85443, 2)

In [72]:
result

array([[9.99070828e-01, 9.29171738e-04],
       [9.99704794e-01, 2.95206364e-04],
       [9.99717846e-01, 2.82154033e-04],
       ...,
       [9.99717846e-01, 2.82154033e-04],
       [9.99317795e-01, 6.82204754e-04],
       [9.87539019e-01, 1.24609813e-02]])

In [73]:
print(result[0:,1])

[0.00092917 0.00029521 0.00028215 ... 0.00028215 0.0006822  0.01246098]

–ò–∑ –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ (–º–∞—Å—Å–∏–≤ Numpy) –≤—ã–±–µ—Ä–∏—Ç–µ —Å—Ç–æ–ª–±–µ—Ü —Å –∏–Ω–¥–µ–∫—Å–æ–º 1 (–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –∫–ª–∞—Å—Å–∞ 1) –∏ –∑–∞–ø–∏—à–∏—Ç–µ –≤ –º–∞—Å—Å–∏–≤ y_pred_proba.

–ú–æ–∂–Ω–æ –≤—ã–±—Ä–∞—Ç—å –ª–∏–±–æ —á–µ—Ä–µ–∑ –¥–∞—Ç–∞—Ñ—Ä—ç–π–º:
data = pd.DataFrame(result)
data[1]
–õ–∏–±–æ —á–µ—Ä–µ–∑ —Å—Ä–µ–∑ (–Ω–∏–∂–µ):

In [74]:
y_pred_proba = result[0:,1]

In [85]:
data = pd.DataFrame(result)
data[1]

0        0.000929
1        0.000295
2        0.000282
3        0.000282
4        0.000282
5        0.000282
6        0.000282
7        0.000282
8        0.000282
9        0.000282
10       0.000282
11       0.000282
12       0.000282
13       0.000312
14       0.000282
15       0.000608
16       0.000345
17       0.000282
18       0.000282
19       0.000295
20       0.000282
21       0.000282
22       0.000282
23       0.001011
24       0.000337
25       0.000282
26       0.000282
27       0.000282
28       0.000282
29       0.000282
           ...
85413    0.000861
85414    0.000282
85415    0.000282
85416    0.000282
85417    0.000282
85418    0.000282
85419    0.000282
85420    0.000282
85421    0.000282
85422    0.000427
85423    0.000891
85424    0.000282
85425    0.000386
85426    0.000282
85427    0.000282
85428    0.000282
85429    0.000282
85430    0.000282
85431    0.000337
85432    0.000282
85433    0.027331
85434    0.001434
85435    0.000282
85436    0.000282
85437    0.000282
85438    0.000282
85439    0.000427
85440    0.000282
85441    0.000682
85442    0.012461
Name: 1, Length: 85443, dtype: float64

In [78]:
roc_auc_score(y_test, y_pred_proba)

0.9462664156037156